Django==4.2.5
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.10.0
django-cors-headers==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
load-dotenv==0.1.0
mysqlclient==2.1.1
Pillow==10.0.0
python-dotenv==0.20.0
redis==4.1.4
gunicorn==21.2.0

